.site-logo {
	width: 120px;
}

.site-logo {
	transition: 600ms ease-out;
}

.site-logo:hover {
	transform: scale(1.1);
}

.project-text-inner p {
	color: black;
	font-size: 1.3em;
}

.navbar-brand {
	font-weight: bold;
		font-size: 2.5rem;
}
@media screen and (min-width: 768px){
	.navbar>.container-fluid .navbar-brand,
    .navbar>.container .navbar-brand {
		font-weight: bold;
		font-size: 3rem;
	}

}

.text-visible-xs {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 10px 20px 10px 20px;
}

.text-visible-xs p {
	font-size: 1.5em;
}
